In [17]:
# open client to mongodb      
# Replace in the future woth MONGODB_CLIENT env variable
from pymongo import MongoClient
from sklearn.model_selection import train_test_split
import pandas as pd
import re
from transformers import (
    AutoTokenizer, 
    AutoModelForCausalLM,
    TextDataset, 
    Trainer, 
    TrainingArguments,
    DataCollatorForLanguageModeling
)

In [2]:
MONGODB_NAME = 'qwelian'
MONGODB_PASSWORD = ''
MONGODB_DB = ''

In [3]:
client = MongoClient(f"mongodb+srv://{MONGODB_NAME}:{MONGODB_PASSWORD}@cluster0.trrmf.mongodb.net/{MONGODB_DB}?retryWrites=true&w=majority")
db = client.flp
personas = db.personas

In [4]:
# list of text

df = pd.DataFrame(columns=['name', 'text'])
df.head()
# d = {
#     'name': post['name'],
#     'text': post['parsed_text']
# }

Empty DataFrame
Columns: [name, text]
Index: []

In [5]:
for post in personas.find():
    d = {
        'name':[ post['name']],
        'text': [post['parsed_text']]
    }
    temp = pd.DataFrame(data = d)
    df = pd.concat([df, temp], ignore_index=True)

In [6]:
df.head()

       name                                               text
0  foucault  <BOS> Aesthetics Method and EpistemologyESSENT...
1  foucault  <BOS> Microsoft Word  Foucault Michel 2002 Arc...
2  foucault  <BOS> CoverPage iHistory of MadnessPraise for ...
3  foucault  <BOS> M I C H E L F O U C A U L T Society Must...
4  foucault  <BOS> efiFoucault Michel 1977 Nietzsche Geneal...

In [7]:
df.shape

(133, 2)

In [8]:
df['name'].unique()

array(['foucault', 'gyyatri', 'twain', 'butler', 'davis', 'marx',
       'nietzsch', 'mlk', 'rustin', 'dubois', 'sowell', 'hughes', 'may',
       'cress wellsing', 'gibran', 'borges', 'girard', 'wynn', 'eco',
       'zera'], dtype=object)

In [9]:
train_test_ratio = 0.9
train_valid_ratio = 7/9
df_full_train, df_test = train_test_split(df, train_size = train_test_ratio, random_state = 2121)
df_train, df_valid = train_test_split(df_full_train, train_size = train_valid_ratio, random_state = 1017)

In [10]:
df_test.shape

(14, 2)

In [11]:
df_train.shape

(92, 2)

In [12]:
df_valid.shape

(27, 2)

In [13]:
# writes df to text file - -
#                         _
def build_dataset(df, dest_path):
    f = open(dest_path, 'w')
    data = ''
    posts = df['text'].tolist()
    for post in posts:
        post = str(post).strip()
        post = re.sub(r"\s", " ", post)        
        bos_token = '<BOS>'
        eos_token = '<EOS>'
        data += bos_token + ' ' + post + ' ' + eos_token + '\n'

    f.write(data)
    return data

In [14]:
train = build_dataset(df_train, '__train__.txt')
valid = build_dataset(df_valid, '__valid__.txt')
test = build_dataset(df_test, '__test__.txt')

In [18]:
tokenizer = AutoTokenizer.from_pretrained("gpt2")

In [37]:
train_encodings = tokenizer(train, truncation=True)
val_encodings = tokenizer(valid, truncation=True)
test_encodings = tokenizer(test, truncation=True)